<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdk.onboarding.cdkapplication">

    <!--For requesting access -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.CDKHomeGrid"></activity>
        <activity
            android:name=".onboardingmenu.WebpageListActivity"
            android:label="@string/title_webpage_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".onboardingmenu.WebpageDetailActivity"
            android:label="@string/title_webpage_detail"
            android:parentActivityName=".onboardingmenu.WebpageListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cdk.onboarding.cdkapplication.onboardingmenu.WebpageListActivity" />
        </activity>
    </application>

</manifest>